@{
    ViewData["Title"] = "Home";
}

<div class="home-page-container text-center">
    <h1>Welcome to BudgetBuddy!</h1>
    <p>Your ultimate tool for managing your expenses and keeping track of your budget.</p>

    <div class="description">
        <h3>Why BudgetBuddy?</h3>
        <p>BudgetBuddy helps you to manage your finances easily by keeping track of all your expenses, categorizing them, and providing useful insights into your spending habits. Whether you're looking to save money or simply organize your finances, BudgetBuddy is here to help you.</p>

        <h3>Features:</h3>
        <ul>
            <li>Add, edit, and delete expenses</li>
            <li>View your expenses in various categories</li>
            <li>Track your spending with ease</li>
        </ul>
    </div>
</div>